<div class="container-fluid bg-dark text-light p-5">
    <h1 class="display-4 text-center">About</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <br><br><br>
        <span><h5> Website is a project related to the thesis. It implements the concept of a one page website crated with Angular. It uses Microsoft technologies such as: .NET 5, Azure VM and Azure SQL Server. It uses external services such as Google maps and an SMS gateway.
            The idea of creating this type of website is to meet the needs of the client and owner of car workshops, such as searching for car workshops and managing them by editing the offer and the schedule.</h5></span>
    </div>
</div>