<form novalidate #form="ngForm" (submit)="onSubmit(form)">
    <div class="form-group">
        <label>Service name</label>
        <input type="text" class="form-control form-control-lg" placeholder="Service Name" name="serviceName"
            #serviceName="ngModel" [(ngModel)]="service.formData.serviceName">
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control form-control-lg" placeholder="User description" name="description"
            #description="ngModel" [(ngModel)]="service.formData.description">
    </div>
    <div class="form-group">
        <label>Duration</label>
        <input type="number" class="form-control form-control-lg" placeholder="Duration" name="duration" #duration="ngModel"
            [(ngModel)]="service.formData.duration">
    </div>
    <div class="form-group">
        <label>Service type</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" placeholder="Service type"
            name="serviceType" #serviceType="ngModel" [(ngModel)]="service.formData.serviceType" />
        <label class="form-check-label" for="inlineCheckbox2">Is priced</label>
    </div>
    <div class="form-group" *ngIf="service.formData.serviceType">
        <label>Price</label>
        <input type="number" class="form-control form-control-lg" placeholder="Price" name="price" #price="ngModel"
            [(ngModel)]="service.formData.price">
    </div>
    <div class="form-group">
        <button class="btn btn-dark btn-lg" type="submit">SUBMIT</button>
    </div>
</form>