<form novalidate #form="ngForm" (submit)="onSubmit(form)">
    <!-- <div class="form-group">
        <button class="btn btn-info btn-lg" type="submit">SUBMIT</button>
    </div> -->
    <div class="container">
    <h4>Click to delete service</h4>
    <table class="table table-striped table-responsive-md btn-table">
        <thead>
            <tr>
                <th>
                    Service Name
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th>
                    Duration[h]
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let service of servicesList"  (click)="eraseService(service.id)">
                <td><span>{{service.serviceName}}</span></td>
                <td><span>{{service.description}}</span></td>
                <td *ngIf="service.price==0"><span>For valuation</span></td>
                <td *ngIf="service.price>0"><span>{{service.price}}</span></td>
                <td><span>{{service.duration}}</span></td>
            </tr>
        </tbody>
    </table>
</div>
</form>