<form novalidate #form="ngForm" (submit)="onSubmit(form)">
    <div class="form-group">
        <button class="btn btn-info btn-lg" type="submit">SUBMIT</button>
    </div>
    <div class="container">
    <table class="table table-striped table-responsive-md btn-table">
        <thead>
            <tr>
                <th>
                    Service Name
                </th>
                <th>
                    Description
                </th>
            </tr>
        </thead>
    <tbody>
        <tr *ngFor="let service of servicesList">
            <td><span>{{service.serviceName}}</span></td>
            <td><span>{{service.description}}</span></td>
        </tr>
    </tbody>
</table>
</div>
</form>