<form novalidate #form="ngForm" (submit)="onSubmit(form)">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>
                Login
            </label>
            <div contenteditable="true" *ngIf="profile$ | async as u">
                <h2>{{u.email}}</h2>
                <input type="hidden" value="u.email"  placeholder="User login" name="Login" #Login="ngModel" [(ngModel)]="service.formData.Login">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label>Name</label>
            <div contenteditable="true" *ngIf="profile$ | async as u">
                <h2>{{u.name}}</h2>
            <input type="hidden" value="u.name" placeholder="User name" name="Name" #Name="ngModel" [(ngModel)]="service.formData.Name">
            </div>
        </div>
    </div>
    <div class="form-row">
            <div class="form-group col-md-6">
                <label>New Password</label>
                <div contenteditable="true" *ngIf="profile$ | async as u">
                    <input type="hidden"  class="form-control form-control-lg" placeholder="User password" name="Password" #Password="ngModel" [(ngModel)]="service.formData.Password">
                </div>
            </div>
            <div class="form-group col-md-6">           
                <label>Retype New password</label>
                <div contenteditable="true" *ngIf="profile$ | async as u">
                    <input type="hidden" class="form-control form-control-lg" placeholder="User password" name="Password" #Password="ngModel" [(ngModel)]="service.formData.Password">
                </div>
            </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label>Company email</label>
            <div contenteditable="true" *ngIf="profile$ | async as u">
            <h2>{{u.email}}</h2>
            <input type="hidden" class="form-control form-control-lg" placeholder="User email" name="Email" #Email="ngModel" [(ngModel)]="service.formData.Email">
            </div>
        </div>
        <div class="form-group col-md-6">
            <label>Business phone</label>
            <div contenteditable="true" *ngIf="profile$ | async as u">
                <h2>{{u.phone}}</h2>
                <input type="hidden" class="form-control form-control-lg" placeholder="User phone" name="Phone" #Phone="ngModel" [(ngModel)]="service.formData.Phone">
            </div>
        </div>
    </div>
        <div class="form-group">
            <label>Service Description</label>
            <div contenteditable="true" *ngIf="profile$ | async as u">
                <h2>{{u.description}}</h2>
                <input type="hidden" class="form-control form-control-lg" placeholder="User description" name="Description" #Description="ngModel" [(ngModel)]="service.formData.Description">
            </div>
        </div>
        <div class="form-group">
            <label>Logo</label>
            <div contenteditable="true" *ngIf="profile$ | async as u">
                <h2>{{u.logo}}</h2>
                <input type="hidden" class="form-control form-control-lg" placeholder="User logo" name="Logo" #Logo="ngModel" [(ngModel)]="service.formData.Logo">
            </div>
        </div>
        <div class="form-group">
            <label>City</label>
            <div contenteditable="true" *ngIf="profile$ | async as u">
                <h2>{{u.city}}</h2>
                <input type="hidden" class="form-control form-control-lg" placeholder="City" name="City" #City="ngModel" [(ngModel)]="service.formData.City">
            </div>
        </div>
        <div class="form-group">
            <label>Street</label>
            <div contenteditable="true" *ngIf="profile$ | async as u">
                <h2>{{u.street}}</h2>
                <input type="hidden" class="form-control form-control-lg" placeholder="Street" name="Street" #Street="ngModel" [(ngModel)]="service.formData.Street">
            </div>
        </div>
        <div class="form-group">
            <label>Number</label>
            <div contenteditable="true" *ngIf="profile$ | async as u">
                <h2>{{u.number}}</h2>
                <input type="hidden" class="form-control form-control-lg" placeholder="Number" name="Number" #Number="ngModel" [(ngModel)]="service.formData.Number">
            </div>
        </div>
        <div class="form-group">
            <label>Postal Code</label>
            <div contenteditable="true" *ngIf="profile$ | async as u">
                <h2>{{u.postalCode}}</h2>
                <input type="hidden" class="form-control form-control-lg" placeholder="PostalCode" name="PostalCode" #PostalCode="ngModel" [(ngModel)]="service.formData.PostalCode">
            </div>
        </div>
        <div class="form-group">
            <button class="btn btn-info btn-lg" type="submit">SUBMIT</button>
        </div>
    </form>








    <div class="container rounded bg-white mt-5 mb-5">
        <div class="row">
            <div class="col-md-3 border-right">
                <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                        width="150px"
                        src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span
                        class="font-weight-bold">Edogaru</span><span class="text-black-50">edogaru@mail.com.my</span><span>
                    </span></div>
            </div>
            <div class="col-md-9 border-right">
                <div class="p-3 py-5">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h4 class="text-right">Profile Settings</h4>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control"
                                placeholder="first name" value=""></div>
                        <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control"
                                value="" placeholder="surname"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text"
                                class="form-control" placeholder="enter phone number" value=""></div>
                        <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text"
                                class="form-control" placeholder="enter address line 1" value=""></div>
                        <div class="col-md-12"><label class="labels">Address Line 2</label><input type="text"
                                class="form-control" placeholder="enter address line 2" value=""></div>
                        <div class="col-md-12"><label class="labels">Postcode</label><input type="text" class="form-control"
                                placeholder="enter address line 2" value=""></div>
                        <div class="col-md-12"><label class="labels">State</label><input type="text" class="form-control"
                                placeholder="enter address line 2" value=""></div>
                        <div class="col-md-12"><label class="labels">Area</label><input type="text" class="form-control"
                                placeholder="enter address line 2" value=""></div>
                        <div class="col-md-12"><label class="labels">Email ID</label><input type="text" class="form-control"
                                placeholder="enter email id" value=""></div>
                        <div class="col-md-12"><label class="labels">Education</label><input type="text"
                                class="form-control" placeholder="education" value=""></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-6"><label class="labels">Country</label><input type="text" class="form-control"
                                placeholder="country" value=""></div>
                        <div class="col-md-6"><label class="labels">State/Region</label><input type="text"
                                class="form-control" value="" placeholder="state"></div>
                    </div>
                    <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save
                            Profile</button></div>
                </div>
            </div>
        </div>
    </div>

