<div class="form-group" *ngIf="isNotSended">
  <form class="container" #passwordResetForm="ngForm" (ngSubmit)="passwordReset(passwordResetForm)">
    <div class="col-md-12">
      <div class="p-5 w-100">



        <div class="col-md-9">
          <label for="userName" for="userName"><b>User name</b></label><br>
          <input type="email" id="userName" name="userName" #userName="ngModel" [(ngModel)]="service.formData.userName"
            placeholder="User Name" required autofocus>
        </div>

        <div class="col-md-9">
          <a style="font-size: 10px; text-decoration: none" href="sdfsdfsdfsdf">Forgot password?</a>
        </div>
        <div class="col-md-9">
          <button class="btn btn-sm btn-outline-dark btn-block" type="submit">Sign in</button>
        </div>
      </div>
      </div>
  </form>
</div>

<div class="form-group" *ngIf="isSended">
  <form #verifyCodeForm="ngForm" (ngSubmit)="verifyCode(verifyCodeForm)">
    <div class="col-md-9">
      <label for="password" for="password"><b>New password</b></label><br>
      <input type="password" id="password" name="password" #password="ngModel" [(ngModel)]="service.formData.password"
        placeholder="Password" required>
    </div>
    <div class="col-md-9">
      <label for="password" for="password"><b>Reply new password</b></label><br>
      <input type="password" id="password" name="password" #password="ngModel" [(ngModel)]="service.formData.password"
        placeholder="Password" required>
    </div>
    <div class="col-md-9">
      <label for="smsCode"><b>SMS verification code</b></label><br>
      <input type="text" id="smsCode" name="smsCode" #smsCode="ngModel" [(ngModel)]="service.formData.smsCode"
        placeholder="Sms code" required autofocus>
    </div>
    <div class="col-md-9">
      <button class="btn btn-sm btn-outline-dark btn-block" type="submit">Sign in</button>
    </div>
  </form>
</div>



