<form novalidate #form="ngForm" (submit)="onSubmit(form)">
    <div class="col-md-9 border-right">
        <div class="p-3 py-5">
            <div class="row mt-2">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Login</label>
                        <input type="text" class="form-control form-control-lg" placeholder="User login" name="Login"
                            #Login="ngModel" [(ngModel)]="service.formData.Login">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Name</label>
                        <input type="text" class="form-control form-control-lg" placeholder="User name" name="Name"
                            #Name="ngModel" [(ngModel)]="service.formData.Name">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Password</label>
                        <input type="password" class="form-control form-control-lg" placeholder="User password"
                            name="Password" #Password="ngModel" [(ngModel)]="service.formData.Password">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Retype password</label>
                        <input type="password" class="form-control form-control-lg" placeholder="User password"
                            name="Password" #Password="ngModel" [(ngModel)]="service.formData.Password">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Email</label>
                        <input type="email" class="form-control form-control-lg" placeholder="User email" name="Email"
                            #Email="ngModel" [(ngModel)]="service.formData.Email">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Phone</label>
                        <input type="text" class="form-control form-control-lg" placeholder="User phone" name="Phone"
                            #Phone="ngModel" [(ngModel)]="service.formData.Phone">
                    </div>
                </div>
                <div class="form-group">
                    <label>Account Type</label>
                </div>
                <div class="row mt-3">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2"
                            placeholder="Is provider" name="IsProvider" #serviceType="ngModel"
                            [(ngModel)]="service.formData.IsProvider" />
                        <label class="form-check-label" for="inlineCheckbox2">Are you Service Provider?</label>
                    </div>
                </div>

                <div class="form-group" *ngIf="service.formData.IsProvider">
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control form-control-lg" placeholder="User description"
                            name="Description" #Description="ngModel" [(ngModel)]="service.formData.Description">
                    </div>
                    <div class="form-group">
                        <label>Logo</label>
                        <input type="file" class="form-control form-control-lg" placeholder="User logo" name="Logo"
                            #Logo="ngModel" [(ngModel)]="service.formData.Logo">
                    </div>
                    <div class="form-group">
                        <label>City</label>
                        <input type="text" class="form-control form-control-lg" placeholder="City" name="City"
                            #City="ngModel" [(ngModel)]="service.formData.City">
                    </div>
                    <div class="form-group">
                        <label>Street</label>
                        <input type="text" class="form-control form-control-lg" placeholder="Street" name="Street"
                            #Street="ngModel" [(ngModel)]="service.formData.Street">
                    </div>
                    <div class="form-group">
                        <label>Number</label>
                        <input type="text" class="form-control form-control-lg" placeholder="Number" name="Number"
                            #Number="ngModel" [(ngModel)]="service.formData.Number">
                    </div>
                    <div class="form-group">
                        <label>Postal Code</label>
                        <input type="text" class="form-control form-control-lg" placeholder="PostalCode"
                            name="PostalCode" #PostalCode="ngModel" [(ngModel)]="service.formData.PostalCode">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <button class="btn btn-outline-dark btn-lg" type="submit">SUBMIT</button>
            </div>
        </div>
    </div>
</form>