<script>
  function disableButton(param) {
    var str = param;
    console.log('wylaczanie:' + str);
    var btn = document.getElementById(param);
    btn.disabled = true;
  }
</script>
<agm-map (mapReady)="onMapReady($event)" [latitude]="latitude" [longitude]="longitude">
  <!--<agm-marker [latitude]="latitude" [longitude]="longitude">
</agm-marker>-->
</agm-map>
<ng-template class="col-md-12" #content let-c="close" let-d="dismiss">
  <div class="modal-header" class="col-md-24">
    <div class="float-end">
      <button id="closeModalButton1" type="button" [hidden]="true" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
    </button>
      <button type="button" class="close float-right"  aria-label="Close" (click)="closeModal1($event)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div style="height: 150px;" class="text-center">
      <img src="{{getProviderServices[0]?.providerLogo}}" class="img-fluid mh-100" alt="Responsive image"  />
    </div>
    <div class="text-center">
      <h4>{{getProviderServices[0]?.providerName}}</h4>
      <h6>{{getProviderServices[0]?.providerDescription}}</h6>
    </div>
    <h6 class="modal-title ml-5 text-center" id="modal-basic-title">Choose services from list</h6>
    </div>
  <div class="modal-body">
    <div class="container">
      <table *ngIf="user$ | async as u" class="table table-striped table-responsive-lg btn-table">
        <thead>
          <tr>
            <th>
              Service Name
            </th>
            <th>
              Duration
            </th>
            <th>
              Cost
            </th>
            <th *ngIf="!u.isProvider">
              Reserv
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let service of getProviderServices ;let i=index;">
            <!--<td><span>{{i}}</span></td>-->
            <td><span>{{service.serviceName}}</span></td>
            <!--<td><span>{{service.description}}</span></td>-->
            <td><span>{{service.duration}}</span></td>
            <td *ngIf="service.isPriced==false"><span>For valuation</span></td>
            <td *ngIf="service.isPriced==true"><span>{{service.price}}</span></td>
            <td>

              <input type="checkbox" *ngIf="!u.isProvider" name="{{[i]}}" id="{{[i]}}" (change)="addToCart($event,service.id,service.duration)">

            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal-footer" *ngIf="user$ | async as u" >
    <button *ngIf="!u.isProvider"  type="button" class="btn btn-outline-dark" (click)="openTimeTable($event)">Save</button>
  </div>

</ng-template>

<ng-template #timeTable let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
    <button id="closeModalButton2" type="button" [hidden]="true" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
  </button>
    <button type="button" class="close" aria-label="Close"  (click)="closeModal2($event)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <app-timetable-forms></app-timetable-forms>
    </div>
  </div>
  <div class="modal-footer">
    <!--<button type="button" class="btn btn-outline-dark" (click)="closeModals($event)">Save</button>-->
  </div>

</ng-template>